SHOW PAGE FOR A NEW RECIPE

<p><%= @create_recipe.content %></p>


<% if authorized_to_edit?(@journal_entry)%>
    <a href="/create_recipes/<%= @create_recipe.id %>/edit">Edit Recipe</a>

    # Delete Link
<% end %>